<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <h2>About website</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia accusamus, excepturi vero eligendi laudantium impedit quod numquam, nulla autem optio quis minus assumenda id deserunt ducimus repudiandae, commodi distinctio cumque!
        Tempora quo nam blanditiis, non aliquam illum et ut quia corrupti? Ducimus, excepturi suscipit libero quasi omnis nesciunt qui eum repellat ex odit voluptates minima quaerat, id similique. Iste, sed.
        Nulla beatae delectus, facere possimus dignissimos amet natus accusantium labore. Atque mollitia necessitatibus possimus deleniti porro exercitationem praesentium expedita ratione repellendus! Cum veniam fuga maiores deserunt suscipit similique, quibusdam praesentium!
        Error voluptate vitae nesciunt porro accusantium blanditiis minima labore, dicta necessitatibus ex esse aut dolor atque sequi ratione possimus laudantium. Blanditiis dolore reiciendis illum voluptatem cupiditate voluptatibus illo labore rerum.
        Nostrum, necessitatibus? Laborum reiciendis tenetur veritatis alias laudantium nulla id exercitationem nostrum quibusdam cupiditate. Reprehenderit placeat maxime repellendus amet pariatur dolore neque, impedit doloremque quisquam quo nihil provident facilis non.
        Provident officiis qui, deserunt ullam ut beatae autem et architecto quidem reiciendis mollitia veniam quas quibusdam nostrum? Voluptatibus eum praesentium laborum natus. Nihil nostrum ut officiis modi eaque dolore dolores.
        Iusto corrupti sequi cupiditate. Doloribus exercitationem pariatur cum id praesentium at sed sint, quis laudantium saepe error delectus consequatur perferendis tempora aspernatur quia eos laborum, minima, totam odio dicta aliquid!
        Doloremque omnis, eos corporis nulla perferendis nesciunt commodi consectetur laboriosam ducimus esse sequi ut? Placeat, esse? Optio corrupti doloribus laboriosam animi, id nostrum voluptatibus voluptates similique autem nobis nemo saepe?
        Incidunt ipsa aperiam suscipit, repudiandae ab deserunt maiores rem temporibus id quae nemo aut ducimus non nihil quia doloremque ea magni sunt blanditiis culpa? Vel ea officia nobis totam molestias?
        Laborum blanditiis temporibus, itaque officia expedita culpa exercitationem, aperiam nobis eius velit doloribus iusto eveniet fugit. Architecto illo neque id a sunt? Repudiandae sit enim laboriosam? Repellat illo aut nesciunt.</p>

    </div>
</body>
</html>